<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="gestor-clientes">
  <template>
    <style>
      :host {
        display: block;
      }
      .flag {
        width: 140px;
        height: 140px;
      }
    </style>
  <div class="container">
    <div class="row">
     <h1 class="col-lg-12">Gestor de  Clientes</h1>
     <button class="btn btn-info" on-click="obtenerClientes" type="button" name="button">Obtener Clientes</button>
     <button class="btn btn-warning" on-click="anadirClientes" type="button" name="button">Registrar Clientes</button>
    </div>
    <div class="row">
      <table hidden$="{{noCargados}}"class="table table-striped">
        <tbody>
          <template is="dom-repeat" items="{{clientes}}">
            <tr>
             <td>
               [[item.CustomerID]]
             </td>
             <td>
               [[item.ContactName]]
             </td>
             <td>
               [[item.CompanyName]]
             </td>
            </tr>
          </template>
        </tbody>
      </table>
    </div>
  </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorClientes extends Polymer.Element {
      static get is() { return 'gestor-clientes'; }
      static get properties() {
        return {
          clientes: {
            type: Array,
            notify: true
          },
          noCargados: {
            type: Boolean,
            value: true
          },
          respuesta: {
            type: Object
          }
      }
    }
      obtenerClientes(){
        var url= "https://services.odata.org/V4/Northwind/Northwind.svc/Customers";
        var request = new XMLHttpRequest();
        request.open("GET",url,false);
        request.setRequestHeader("Accept","application/json");
        request.send();
        this.clientes=JSON.parse(request.responseText).value;
        console.log(this.clientes);
        this.noCargados=false;
      }
      anadirClientes(){
        var url= "https://services.odata.org/V4/Northwind/Northwind.svc/Customers";
        var request = new XMLHttpRequest();
        request.open("POST",url,false);
        request.setRequestHeader("Accept","application/json");
        request.setRequestHeader("Content-Type","application/json");
        var nuevoCliente={"CustomerID":"12345","ContactName":"Pepe","CompanyName":"Pepes"};
        var body = JSON.stringify(nuevoCliente);
        request.send(body);
        this.repuesta=request.responseText;
        conole.log(this.respuesta);
        this.noCargados = false;
      }
  }

    window.customElements.define(GestorClientes.is, GestorClientes);
  </script>
</dom-module>
